html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2e2e35;
    position: fixed;
    top: 0;
    left: 0;
    height: 84px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    font-weight: 700;
    z-index: 1;
    color: rgba(255, 255, 255, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
    transform: translateY(-30px);
    animation: reveal 0.6s 0.6s ease-out forwards;
}

header a {
    font-size: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

body {
    margin: 0;
    display: flex;
    justify-content : center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #24242a;
    color: #ffffff;
}

footer {
    height: 85vh;
    width: 100%;
    background-color: #24242a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    white-space: nowrap;
}

article {
    display: flex;
    align-items: center;
    background-color: #2e2e35;
    border-radius: 7px;
    margin-left: 90px;
    margin-right: 90px;
}


header p {
    padding-right: 100px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

main p {
    color: rgba(255, 255, 255, 0.5);
}

div h1 {
    margin-bottom: 33px;
    font-size: 60px;
    max-width: 700px;
}

h2 {
    margin-bottom: 44px;
    font-size: 40px;
}

article div {
    padding: 0 117px 0 117px;
}

article p {
    margin-bottom: 58px;
    line-height: 1.8;
    font-size: 19px;
}

.image_left {
    width: 630px;
    height: 630px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.image_right {
    width: 630px;
    height: 630px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.buttons {
    appearance: none;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #2e2e35;
    border-radius: 7px;
    border: 0;
    box-shadow: inset 0px 0px 0px 3px #3e3e47;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    height: 3rem;
    line-height: 3rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.2s ease-in-out;
    color: #d54857;
    font-size: 1.20rem;
    padding: 5px 76px 5px 24px;
    background-color: #d54857;
    box-shadow: none;
    color: #ffffff !important;
}

.buttons:after {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #3e3e47;
    color: #2e2e35;
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    padding: 5px 0 5px 0;
    width: 55px;
    background: #c63d4c;
    color: #a0212f;
}

.gradiant_left {
    position: absolute;
    width: 630px;
    height: 630px;
    padding: 0;
    background: linear-gradient(45deg, rgba(213, 72, 87, 0.3) 20%, rgba(46, 174, 255, 0.3) 100%);
    pointer-events: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.gradiant_right {
    position: absolute;
    right: 0;
    width: 630px;
    height: 630px;
    padding: 0;
    margin-right: 90px;
    background: linear-gradient(45deg, rgba(213, 72, 87, 0.3) 20%, rgba(46, 174, 255, 0.3) 100%);
    pointer-events: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.rating {
    margin: 50px auto;
    width: 80%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.skills-container {
    margin-bottom: 30px;
}

.skill {
    margin-bottom: 15px;
}

.skill span {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.progress-bar {
    width: 95%;
    background: #3e3e47;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
}

.progress {
    background: #d54857;
    height: 100%;
    text-align: center;
    line-height: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.rate { 
    width: 700px;
}

.rate h2 {
    font-size: 35px;
}

.contact {
    display: flex;
    align-items: center;
}

.contact i {
    color: rgb(213 72 87);
    font-size: 30px;
    margin: 0 0 0 90px;
}

.contact-text {
    padding-left: 15px;
    display: inline-block;
}

.contact-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 0;
}

.contact-text span {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
    color: #757575;
    font-size: 15px;
}

#rate_div {
    padding-left: 125px;
    max-width: 1500px;
    padding-top: 80px;
}

#rate_div h1 {
    font-size: 50px;
    margin-bottom: 25px;
    max-width: none;
}

#pass {
    position: absolute;
    margin-top: 90vh;
}

#special {
    margin-bottom: 44px;
    font-size: 20px;
    padding-right: 50px;
}

#first_frame {
    height: 750px;
    width: 100%;
    background: linear-gradient(180deg, #24242a 50%, #1f1f24 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#second_frame {
    height: 700px;
    width: 100%;
    background-color: #1f1f24;
    display: flex;
    justify-content: center;
    align-items: center;
}

#third_frame {
    height: 750px;
    width: 100%;
    background: linear-gradient(180deg, #1f1f24 50%, #24242a 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#presentation {
    display: flex;
    align-items : center;
    height: 100vh;
    margin-left: 70px;
    margin-right: 78px;
}

#title {
    opacity: 0;
    transform: translateX(-15px);
    animation: reveal 0.6s 0.6s ease-out forwards;
}

#screen {
    opacity: 0;
    transform: translateY(15px);
    animation: reveal 0.6s 0.6s ease-out forwards;}

#pc {
    position: absolute;
    width: 800px;
}

#photo {
    position: absolute;
    width: 630px;
    margin-left: 85px;
    margin-top: 23px;
}

#soluce {
    width: 800px;
}

#gradiant {
    position: absolute;
    width: 630px;
    height: 360px;
    margin-left: 85px;
    margin-top: 23px;
    background: linear-gradient(45deg, rgba(213, 72, 87, 0.3) 20%, rgba(46, 174, 255, 0.3) 100%);
    pointer-events: none;
}

#the_button {
    appearance: none;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #2e2e35;
    border-radius: 7px;
    border: 0;
    box-shadow: inset 0px 0px 0px 3px #3e3e47;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.2s ease-in-out;
    color: #d54857;
    font-size: 1.20rem;
    height: 3.6rem;
    line-height: 3.6rem;
    padding: 5px 76px 5px 24px;
    background-color: #d54857;
    box-shadow: none;
    color: #ffffff !important;
}

#the_button:after {
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #3e3e47;
    color: #2e2e35;
    content: '\f061';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    padding: 5px 0 5px 0;
    width: 55px;
    background: #c63d4c;
    color: #a0212f;
}

#foot {
    display: flex;
    justify-content: center;
}

#foot-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 19px;
}

@keyframes reveal {
    100% {
        opacity: 1;
        transform: none;
    }
}

@media screen and (max-width: 1700px) {
    #title h1 {
        font-size: 33px;
    }

    #title p {
        font-size: 17px;
    }

    #the_button {
        font-size: 1rem;
        height: 3rem;
        line-height: 3rem;
        padding: 5px 70px 5px 20px;
    }

    #foot-text {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    #pc {
        width: 600px;
    }

    #photo {
        width: 472px;
        margin-left: 64px;
        margin-top: 18px;
    }

    #gradiant {
        width: 472px;
        height: 269.703px;
        margin-left: 64px;
        margin-top: 18px;
    }

    #soluce {
        width: 600px;
    }

    article div {
        padding: 0 60px 0 60px;
    }

    article p {
        font-size: 18px;
    }

    .image_left {
        width: 480px;
        height: 480px;
    }

    .image_right {
        width: 480px;
        height: 480px;
    }

    .gradiant_left {
        width: 480px;
        height: 480px;
    }

    .gradiant_right {
        width: 480px;
        height: 480px;
    }

    #first_frame {
        height: 550px;
    }

    #second_frame {
        height: 600px;
    }

    #third_frame {
        height: 550px;
    }

    #rate_div p {
        max-width: 85%;
        font-size: 22px;
    }

    .progress-bar {
        width: 80%;
    }

    .rating {
        margin: 50px 0 50px 160px;
    }
}

@media screen and (max-width: 1300px) {
    #foot {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: center;
    }

    #foot div {
        width: 40%;
    }

    .forflex {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1100px) {
    header {
        height: 100px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
    }

    header a {
        font-size: 22px;
    }

    header h1 {
        font-size: 30px;
    }

    .rating {
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
    }

    .the_article {
        display: flex;
        flex-direction: column;
    }

    #a_article {
        display: flex;
        flex-direction: column;
    }

    #first_frame {
        height: 1000px;
    }

    #second_frame {
        height: 1050px;
    }

    #third_frame {
        height: 940px;
    }

    .rate { 
        width: 80%;
    }

    .progress-bar {
        width: 100%;
    }

    header a, header h1 {
        width: 30%;
        margin: 0;
    }

    .buttons {
        margin-bottom: 45px;
    }

    .gradiant_right {
        right: auto;
        margin: 0;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    
    #a_article > img {
        order: 1;
        -webkit-order : 1;
    }

    #a_article > div {
        order: 2;
        -webkit-order : 2;
    }

    .image_right {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    .gradiant_left {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .image_left {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    #rate_div h1 {
        padding-right: 80px;
    }
}

@media screen and (max-width: 950px) {
    #pc {
        width: 450px;
    }

    #photo {
        width: 354px;
        margin-left: 48px;
        margin-top: 13px;
    }

    #gradiant {
        width: 354px;
        height: 202px;
        margin-left: 48px;
        margin-top: 13px;
    }

    #soluce {
        width: 450px;
    }

    #presentation {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        min-height: 1000px;
    }

    #title {
        margin-top: 15%;
        margin-left: 10%;
    }

    #title h1 {
        font-size: 40px;
    }

    #title p {
        font-size: 20px;
    }
}

@media screen and (max-width: 850px) {
    #foot {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #foot div {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .forflex {
        margin-top: 0;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contact i {
        margin: 33px 0 7px 0;
    }

    .contact-text {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 80px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    }

    header a {
        font-size: 20px;
    }

    header h1 {
        font-size: 28px;
    }

    #pc {
        width: 300px;
    }

    #photo {
        width: 236px;
        margin-left: 32px;
        margin-top: 9px;
    }

    #gradiant {
        width: 236px;
        height: 134.844px;
        margin-left: 32px;
        margin-top: 9px;
    }

    #soluce {
        width: 300px;
    }

    #presentation {
        height: 950px;
    }

    .image_left {
        width: 290px;
        height: 290px;
    }

    .image_right {
        width: 290px;
        height: 290px;
    }

    .gradiant_left {
        width: 290px;
        height: 290px;
    }

    .gradiant_right {
        width: 290px;
        height: 290px;
    }
    
    #rate_div {
        padding: 100px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #rate_div h1 {
        padding: 0;
        font-size: 35px;
        text-align: center;
    }

    #first_frame {
        height: 970px;
    }

    #second_frame {
        height: 1000px;
    }

    #third_frame {
        height: 830px;
    }

    h2 {
        font-size: 37px;
    }

    #special {
        padding: 0;
    }
}

@media screen and (max-width: 415px) {
    #presentation {
        margin: 0 50px 0 50px;
    }

    .image_left {
        width: 260px;
        height: 260px;
    }

    .image_right {
        width: 260px;
        height: 260px;
    }

    .gradiant_left {
        width: 260px;
        height: 260px;
    }

    .gradiant_right {
        width: 260px;
        height: 260px;
    }

    h2 {
        font-size: 30px;
    }

    article p {
        font-size: 16px;
    }

    article div {
        padding: 0 40px 0 40px;
    }

    header h1 {
        font-size: 24px;
    }

    header a {
        font-size: 18px;
    }

    #rate_div h1 {
        font-size: 32px;
    }

    #rate_div p {
        font-size: 20px;
    }

    .contact i {
        margin: 28px 0 5px 0;
    }

    #first_frame {
        height: 810px;
    }

    #second_frame {
        height: 850px;
    }

    #third_frame {
        height: 750px;
    }
}